body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, #ff00ccb2, #72206b, #ca4e88);
    background-size: 600% 600%;
    animation: gradientBG 7s ease infinite;
  }

  .char-card-animation {
    overflow: hidden;
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, #d394c6b2, #864581);
    background-size: 600% 600%;
    animation: gradientBG 7s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
